<!DOCTYPE html>
<html>
  <head>
    <title>Chillify - Web Music Player</title>
    <link rel="stylesheet" href="/stylesheets/index.css" />
    <script
      src="https://kit.fontawesome.com/3f167df4c7.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <div id="main">
      <nav>
        <div class="logo">
          <a href="/home"><span id="logo"><b>Chillify</b></span></a>
        </div>
        <div class="icons">
          <p id="upload" class="hover">
            <a href="/upload"
              ><i class="fa-solid fa-cloud-arrow-up" title="upload"></i
            ></a>
          </p>
          <p id="search" class="hover">
            <i class="fa-solid fa-magnifying-glass" title="search"></i>
          </p>
          <span>|</span>
          <div class="user-profile">
            <a href="/user"><i class="fa-solid fa-user" title="user"></i></a>
          </div>
        </div>
      </nav>
      <div class="container">
        <div class="library">
          <div>
            <p id="library"><i class="fa-solid fa-bookmark"></i> My Library</p>
            <span><i class="fa-solid fa-plus"></i></span>
          </div>
          <div class="library-body">
            
          </div>
        </div>
        <div class="song_cards">
          <div class="song-card"></div>
          <div class="controller"></div>
        </div>
      </div>
    </div>

    <script src="javascripts/script.js"></script>
  </body>
</html>
